html
html
   head
      title Form Tester
   body
      form(action = "/submit", method = "POST")
         div
            label(for = "name") Name:
            input(name = "name" value = "Name")
         br
         div
            label(for = "codechef_id") Codechef_id:
            input(name = "codechef_id" value = "codechef_id")
         br
         div
            label(for = "codeforce_id") Codeforce_id:
            input(name = "codeforce_id" value = "codeforce_id")
         br
         div
            label(for = "stopatalk_id") Stopatalk_id:
            input(name = "stopatalk_id" value = "stopatalk_id")
         br
         button(type = "submit") Submit